.App {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Set the height of the container to full viewport height */
}

.App-header {
  flex: 1; /* Make the header take half of the container's height */
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vh;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 13s linear;
  }
}


body {
  background-color: black;
  flex: 9; /* Make the body take half of the container's height */
  display: flex;
  justify-content: center;
  align-items: center;
}





@keyframes App-logo-spin {
  

    0% {
      transform: rotate(5deg);
  }

  25% {
      transform: rotate(0deg);
  }

  50% {
      transform: rotate(-5deg);
  }

  75% {
      transform: rotate(0deg);
  }

  100% {
      transform: rotate(5deg);
  }
}

.Trail-button{
  min-width: 10vh;
  min-height: 5vh;
  
  background-color: #ffa31a;
  color: Black;

  font-weight: bold;
  text-decoration: none;
  font-size: calc(10px + 2vmin);

  border-radius: 15px;
  border-color: #ffa31a;
  border-width: 0;

  box-shadow: 0 1vh 0 #89590f;
}

.Trail-button:active{
  margin-top: 2vh;
  box-shadow: 0 0 0 #89590f;
  transition: 0.1s;
}

.Name{
  min-height: 5vh;
  min-width: 35vh;
  margin: 0 3vh 0 0;

  font-weight: bold;
  text-decoration: none;
  font-size: calc(10px + 2vmin);

  background-color: #ffa31a;
  color: Black;

  border: none;
}

.TaskList {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.TaskList ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.TaskList li {
  margin: 1rem;
  font-size: 2rem;
}