.App {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Set the height of the container to full viewport height */
}

.App-header {
  flex: 1; /* Make the header take half of the container's height */
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vh;
}

.App-logo {
  width: 70%; /* Set the width of the image to half of the container's width */
  height: auto; /* Maintain the aspect ratio of the image */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 13s linear;
  }
}


body {
  background-color: black;
  flex: 1; /* Make the body take half of the container's height */
  display: flex;
  justify-content: center;
  align-items: center;
}





@keyframes App-logo-spin {
  

    0% {
      transform: rotate(5deg);
  }

  25% {
      transform: rotate(0deg);
  }

  50% {
      transform: rotate(-5deg);
  }

  75% {
      transform: rotate(0deg);
  }

  100% {
      transform: rotate(5deg);
  }
}

.Trail-button{
  max-width: 35%;
  min-height: 20%;
  

  background-color: #ffa31a;
  color: Black;

  font-weight: bold;
  text-decoration: none;
  font-size: calc(10px + 2vmin);

  border-radius: 15px;
  border-color: #ffa31a;
  border-width: 0;

  box-shadow: 0 1.5vh 0 #89590f;

  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Trail-button:active{
  margin-top: 3vh;
  box-shadow: 0 0 0 #89590f;
  transition: 0.2s;
}