/* App.css */
:root {
  --background: #FDF0D5;
  --primary: #036856;
  --delete: red;
  --border: #323932;

}
/* Add the following styles for the header */
.App-header {
  background-color: var(--primary);
  padding: 20px;
}

body{
  background-color: var(--background);
}

.App-logo {
  width: 150px;
  height: auto;
}

/* Add the following styles for the trail creation section */
.Div-Creater {
  

  column-count: a;

  column-width: 27vh;

  margin-top: 1vh;
}

.date,
.time,
.Name,
.place,
.Trail-button{
  margin: 2vh;
  width: 23vh;
}


input {
  
  padding: 10px;
  margin-right: 10px;
  border: 1px solid var(--primary);
  border-radius: 4px;
  font-size: 16px;

  background-color: var(--background);
  
}

button.Trail-button {
  padding: 10px 20px;
  background-color: var(--primary);
  color: var(--background);
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

/* Add the following styles for the tasks section */
.tasks {
  margin-top: 30px;
}

.task-container {
  
  
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: 1fr 1fr 1fr;
  
  
  border: 1px solid var(--border);
  border-radius: 4px;

  margin: 2vh;
  padding: 2vh;
  
  grid-template-areas: 
  "name place weatherPlace"
  "date time weatherTemp"
  "checkbox delete weatherDesc";
}

.weather-container{
  grid-area: weatherContainer;
}

.weather-place {
  grid-area: weatherPlace;
}

.task-time{
  grid-area: time;
}

.weather-temp {
  grid-area: weatherTemp;
}

.weather-desc {
  grid-area: weatherDesc;
}

.task-place{
  grid-area: place;
}

.task-name {
  font-size: 16px;

  grid-area: name;
}

.task-date {
  grid-area: date;
}

.task-checkbox {
  display: flex;
  align-items: center;

  grid-area: checkbox;
}

.task-delete button {
  padding: 5px 10px;
  background-color: var(--border);
  color: var(--background);
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;

}

.task-delete{
  grid-area: delete;
}

.task-delete-completed {
  margin: 1vh;
  padding: 5px 10px;
  background-color: var(--border);
  color: var(--background);
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

.task-completed {
  text-decoration: line-through;
  color: var(--primary);
}
